<div class="carousel-item">
  {%- assign img_src = item.image | asset_url -%}
  {%- assign img_alt = item.image.alt | default: item.alt_text | default: item.title | default: '' -%}
  <img src="{{ img_src }}" alt="{{ img_alt }}" class="carousel-item__image" loading="lazy" width="800" height="600">
  <div class="carousel-item__content">
    <h3 class="carousel-item__title">{{ item.title }}</h3>
    <p class="carousel-item__description">{{ item.description }}</p>
    {% if item.link != blank %}
      <a href="{{ item.link }}" class="carousel-item__link">{{ 'carousel.item.link' | t | default: 'Learn More' }}</a>
    {% endif %}
  </div>
</div>
